.App {
  text-align: center;
  height: 100svh;
  width: 100svw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  background-color: #100339;
  
}

a {
  color: white;
  font-size: 10px;
} 











